@import "variables";

.achievements-list {
  margin-top: 39px;
  padding-bottom: 76px;
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
  text-align: center;
  color: $primary-color;
  font-family: $primary-font;
}

.achievements-item {
  padding: 10px 80px 0;
  width: 97px;
}

.line {
  margin-top: 20px;
  border-left: 2px solid #b0b0b0;
}


.achievement-text {
  margin: 21px auto 28px;
  width: 75px;
  text-align: center;
  font-size: 13px;
  font-weight: 800;
  line-height: 18px;
  text-transform: uppercase;
  letter-spacing: 1.47px;
}

.achievement-value {
  font-size: 45px;
}