@import "variables";

.our-team {
  background: url("../img/team/bg-team.png") no-repeat center;
  background-size: cover;
}

.team-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.team-img {
  padding:  30px;

  //position: absolute;
}

.hover {
  //display: none;
  position: relative;
  top: -360px;
  left: 38px;
  width: 256px;
  height: 321px;
  background-color: #f6f6f6;
  opacity: 0.82;

  &:hover {
    //display: block;
  }
}

  .hover-content {
    width: 146px;
    margin-bottom: 19px;
    margin-left: 19px;
    padding-top: 210px;
    text-align: left;
    color: $primary-color;
    border-bottom: 1px solid $primary-color;
  }

  .hover-name {
    font-family: $primary-font;
    font-size: 13px;
    letter-spacing: 1.47px;
  }

  .hover-text {
    padding: 8px 0 9px;
    font-family: $quaternary-font;
    font-size: $tertiary-font-size;
    //font-style: italic;
  }
